langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-ollama
langchain-anthropic
langchain-google-genai
langchain-openai
langchain-pinecone
yfinance
tabulate
pymupdf
python-dotenv
streamlit